
table {
  margin: auto;
  border-collapse: collapse;
  table-layout: fixed;
}

h1 {
  text-align: center;
}

td {
  padding: 0;
  width: 75px;
  height: 75px;
  border: 1px solid;
  text-align: center;
}

tr:first-child td {
  border-top: none;
}

tr:last-child td {
  border-bottom: none;
}

td:first-child {
  border-left: none;
}

td:last-child {
  border-right: none;
}
